a {
  color: red;
  text-decoration: none;
}

h1 {
  font-family: sans-serif;
  margin-left: 50px;
}

p {
  font-family: sans-serif;
  margin-left: 50px;
}

body {
  margin:0;
  padding:0;
  overflow: hidden;
}
canvas {
  margin:auto;
}
