body {
  margin: auto;
  padding:0;
  overflow: hidden;
  background-color: #e3e3e3;
  font-family: sans-serif;
  margin-left: 50px;
}

.wrap {
  min-width: 600px;
  width: 80%;
  margin: auto;
}

.content {
  background: white;
  float: left;
  width: 80%;
}

aside {
  background: white;
  float: left;
  width: 20%;
}


blockquote {
  border: 1px solid whithe;
  text-align: center;
  margin-left: 0;
}

canvas {
  margin:auto;
}

a:hover {
  color: black;
  letter-spacing: 3px;
}
